langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langgraph

chromadb
sentence-transformers
transformers
torch

google-generativeai
groq

datasets
ragas

wikipedia
wikipedia-api

pypdf
docx2txt

tiktoken
nltk

pandas
numpy
requests

matplotlib
scikit-learn
tqdm
python-dotenv
protobuf

ipykernel
